##############################
# Python Cache
##############################
__pycache__/
*.pyc
*.pyo

##############################
# Virtual Environments
##############################
venv/
.env/
env/

##############################
# Model Weights
##############################
*.pt
*.pth

##############################
# Logs & Output
##############################
*.log
sample_output/
sample_input/

##############################
# OS / Editors
##############################
.DS_Store
.vscode/
.idea/

##############################
# Misc
##############################
*.tmp